<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PretvoriKverijaMakroaVoVBA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <PretvoriKverijaMakroaVoVBA.Properties.Settings>
            <setting name="VID_NA_FAJL" serializeAs="String">
                <value>*.sql</value>
            </setting>
            <setting name="IME_NA_IZVEZEN_FAJL" serializeAs="String">
                <value>VOI60_IT1_soopstenie.bas</value>
            </setting>
            <setting name="IME_NA_IZVEZEN_EKSEL_FAJL" serializeAs="String">
                <value>imeXLSFajl.xls</value>
            </setting>
            <setting name="PATEKA_IZVEZEN_EKSEL_FAJl" serializeAs="String">
                <value>PrimerKverija</value>
            </setting>
            <setting name="SQL_KVERIJA_PAPKA" serializeAs="String">
                <value>PrimerKverija</value>
            </setting>
            <setting name="VBA_MAKROA_PAPKA" serializeAs="String">
                <value>MakroaKverijaPrimeri</value>
            </setting>
            <setting name="VBA_MAKRO_VID_FAJL" serializeAs="String">
                <value>*.bas</value>
            </setting>
            <setting name="iminijaTabeli" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Q_M10|TabelaKveriM10|1</string>
                        <string>Q_M1|TabelaKveriM1|1</string>
                        <string>Q_M2|TabelaKveriM2|1</string>
                        <string>Q_M3|TabelaKveriM3|1</string>
                        <string>Q_M4|TabelaKveriM4|1</string>
                        <string>Q_M5|TabelaKveriM5|1</string>
                        <string>Q_M6|TabelaKveriM6|1</string>
                        <string>Q_M7|TabelaKveriM7|1</string>
                        <string>Q_M8|TabelaKveriM8|1</string>
                        <string>Q_M9|TabelaKveriM9|1</string>
                        <string>TabelaVnes|TabelaVnes|0</string>
                        <string>TabelaVnes2|TabelaVnes|0</string>
                        <string>TabelaAdresar|TabelaAdresar|0</string>
                        <string>TabelaAdresar1|TabelaAdresar|0</string>
                        <string>Tgodisnik_1|TabelaGodishnik|1</string>
                        <string>Tgodisnik_4|TabelaGodishnik4|1</string>
                        <string>Tgodisnik_7|TabelaGodishnik7|1</string>
                        <string>Tpol|TabelaPol|1</string>
                        <string>RZSVNESI_T_KD_SV50A_2009|TabelaVnesSV50|0</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="IME_FAJL_TABELI_KONSTANTI" serializeAs="String">
                <value>VOI60_IminjaTabeli.bas</value>
            </setting>
        </PretvoriKverijaMakroaVoVBA.Properties.Settings>
    </userSettings>
</configuration>